# Dependencies
node_modules/

# Environment variables
.env
.env.*

# Exceptions
!.env.example

# Build files
dist/
build/
.next/
out/

# Uploaded files
backend/uploads/*

# Editor files
.vscode/
.idea/

# Logs
*.log
npm-debug.log*